/* *{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    
    background-color: black;
    height: 60px;
    
    
   
}
button{
    background-color: #f08804;
}
#link{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.contentclass{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    color: black;
}
#content{
    height: 200px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
} */
/* div{
    height: 100px;
    width: 100px;
    
    border: 2px solid black;
    display: inline-block;
} */
/* #box1{
    position: static;
}
#box2{
    position: relative;
    top: 10px;
    left: 10px;
}
#box3{
    position: absolute;
    top: 10px;
    left: 20px;
}
#box4{
    position: fixed;
    top: 0px;
   
} */
/* body{
    background-image: url(piyush.jpg);
    background-size: contain;
    
}
#box1{
    background-image: url(piyush.jpg);
    background-size: cover;
} */


/* div{
    width: 100px;
    height: 100px;
    background-image: url(piyush.jpg);
    background-size: cover;
    position: fixed;
    right: 0px;
    top: 50px;
    
    
    

} */
/* body{
    text-align: center;
}
div{
    height: 100px;
    width: 150px;
    display: inline-block;
    border: 2px black solid;
}
#container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}
#box2{
    height: 200px;
    
    
} */


#navbar{
    background-color: black;
    display: flex;
   justify-content: space-evenly;
    
}
a{
    text-decoration: none;
    color: orange;
    
    
}
#div1{
    height: 500px;
    width: 500px;
    background-color: pink;
    
    
    transition-property: all;
    transition-duration: 2s;
    
    
}
p{
    top: 0px;

}
#div1:hover{
    background-color: blue;
}
#div1:active{
    background-color: red;
}

#div2{
    height: 300px;
    width: 300px;
    background-color: grey;
    margin-left: 100px;
    margin-top: 80px;
    
   
}
*{
    padding: 0px;
    margin: 0px;
}
#navbar2{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    font-size: 40px;
    

}
a{
    color: red;
    text-decoration: none;
    
}
#new3{
    height: 20px;
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 200px;
    font-size: 20px;
}
#imp{
    color: orange;
}

#day{
    background-color: pink;
    height: 200px;
    width: 200px;
    border: 2px black solid;
    transition-property: all;
    transition-duration: 2s;

}
#day:hover{
    background-color: red;
    font-size: 10px;
    transition-timing-function: step-start(5);
    transition-delay: 1s;

}
#day:active{
    background-color: yellow;
}
/* @media(max-width: 300px){
    #day{
        background-color: brown;
    }
}
@media(min-width: 300px ) and (max-width: 400px){
    #day{
        background-color:orange;
    }
} */
