*{
    padding: 0;
    margin: 0;
}
ul{
    
    height: 20px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    gap: 20px;

    

    
    
    
}
a{
    text-decoration: none;
    color: white;
    
}

li{
    list-style-type: none;
    display: inline;
    
    

   
}
button{
    background-color: black;
    color: white;
    

}


/* div1 */
#div1{
    text-align: center;
    padding: 12px;
    font-size: 14px;
    text-transform: capitalize;
    
   
}
#divs{
    
    height: 550px;
    width: 100vw;
    display: flex;

    
}
#div2{
    background-color:black;
    height: 550px;
    width: 50vw;
    color: white;
    
    
    

    /* background-image: url(mac.jpg);
    background-size: cover; 
    width: 80vw;
    height:500px; */

    
    
    
    
}
#heading1{
    /* height: 450px;
    width:40vh;
    color: white;
    font-size: 40px;
    line-height: 1.18349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
     */
    
}
#sub-div2{
    background-color: black;
    
    height: 550px;
    width: 50vw;
    /* background-image: url(mac.jpg);
    background-size: cover; 
    width: 80vw;
    height:550px; */
    
    
    
    


}